<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.simble.helper</string>
	<key>CFBundleName</key>
	<string>SimBLE Helper</string>
	<key>CFBundleExecutable</key>
	<string>simble-helper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>SimBLE bridges the iOS and watchOS Simulators to this Mac's Bluetooth radio.</string>
</dict>
</plist>
